body{
    background-color: #6918c5;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    margin: 10px;

}

button{
    margin: 20px;
    padding: 10px;
}